-
	const loaded = Boolean(classes);
	//- console.log({teacher, group, room});
	const [subjectKey, subjectValue] = Object.entries({teacher, group, room}).find(([_, value]) => Boolean(value));
	//- console.log([subjectKey, subjectValue]);

	function getRaspElements (subjectKey, raspRowCell) {
		const left = {
			teacher: raspRowCell?.group,
			group: raspRowCell?.teacher,
			room: raspRowCell?.group
		}[subjectKey];

		const right = {
			teacher: raspRowCell?.room,
			group: raspRowCell?.room,
			room: raspRowCell?.teacher
		}[subjectKey];

		return [left, raspRowCell.discipline, right];
	};


mixin raspRow(subjectKey, raspRowData)
	if !raspRowData
		td.empty

	else if raspRowData['0'] && !raspRowData['1'] && !raspRowData['2']
		- const [left, center, right] = getRaspElements(subjectKey, raspRowData['0']);
		td.rasp-cell(colspan='2')
			span.left= left
			span.center= center
			span.right= right

	else if !raspRowData['0'] && raspRowData['1'] && !raspRowData['2']
		- const [left, center, right] = getRaspElements(subjectKey, raspRowData['1']);
		td.rasp-cell
			span.left= left
			span.center= center
			span.right= right
		td.empty

	else if !raspRowData['0'] && !raspRowData['1'] && raspRowData['2']
		- const [left, center, right] = getRaspElements(subjectKey, raspRowData['2']);
		td.empty
		td.rasp-cell
			span.left= left
			span.center= center
			span.right= right

	else if !raspRowData['0'] && raspRowData['1'] && raspRowData['2']
		-
			const [left1, center1, right1] = getRaspElements(subjectKey, raspRowData['1']);
			const [left2, center2, right2] = getRaspElements(subjectKey, raspRowData['2']);
		td.rasp-cell
			span.left= left1
			span.center= center1
			span.right= right1
		td.rasp-cell
			span.left= left2
			span.center= center2
			span.right= right2

	else
		td.error(colspan='2') ERROR

article.day-rasp(data-date=date, data-need-loading=!loaded)
	if !loaded
		table.rasp-table
			caption.rasp-table-caption
				span #{new Date(date).toLocaleString('ru-RU', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' })}
				| &#32;
				span #{teacher}
			colgroup
				col(span='1', style='width: 3ch')
				col(span='1', style='width: 50%')
				col(span='1', style='width: 50%')
			tbody
				each number in Array.from(Array(8), (_, idx) => idx + 1)
					tr.rasp-table-row
						td= number
						if number === 1
							td(
								rowspan='8',
								colspan='2',
								style='vertical-align: middle; text-align: center'
							) Loading...

	else
		table.rasp-table
			caption.rasp-table-caption
				span #{new Date(date).toLocaleString('ru-RU', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' })}
				| &#32;
				span #{subjectValue}
			colgroup
				col(span='1', style='width: 3ch')
				col(span='1', style='width: 50%')
				col(span='1', style='width: 50%')
			tbody
				each classByNumber, idx in classes
					tr.rasp-table-row(class={empty: classByNumber === null}) 
						<!-- !{JSON.stringify(classByNumber)} -->
						td.number= idx + 1
						if classByNumber
							-
								const raspRowData = Object.fromEntries(
									Object.entries(classByNumber)
										.map(([key, row]) => 
											[
												key,
												Object.fromEntries(
													Object.entries(row)
														.map(([fieldKey, fieldValue]) => 
															([fieldKey, Array.isArray(fieldValue) ? fieldValue.join(', ') : fieldValue])
														)
												)
											]
										)
									);

							+raspRow(subjectKey, raspRowData)
						else
							td.empty(colspan='2')
